/* ********************************* Principal ********************************* */

body {
    background: #fffffe !important;
}

/* ********************************* Menú de navegación ********************************* */

#navbar-main {
 background-color: #0d0d0d;
}

.navbar {
    box-shadow: 0px 2px 3px #0d0d0d;
}

.navbar-dark .navbar-brand {
    color: #fffffe;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fffffe;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #ff8e3c;
}

/* ********************************* Header ********************************* */

.main-header {
    height: 100vh;
    min-height: 500px;
    background-image: url('../img/automotriz.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.background-overlay {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color:rgb(239, 240, 243, 0.7);
}

.color-texto {
    color: #2a2a2a;
}

#btn-leer {
    color: #fffffe;
    background-color: #ff8e3c;
    border-color: #ff8e3c;
}

#btn-leer:hover {
    color: #fffffe !important;
    border-color: rgb(239, 240, 243, 0.7) !important;
}

#btn-leer:focus {
    color: #ffffff !important;
    border-color: #ff8e3c !important;
    box-shadow: 0 0 0 3px rgb(255, 142, 60, 0.7) !important;
}

/* ********************************* newsletter ********************************* */

#newsletter-main {
    background-color: #0d0d0d;
}

#newsletter-main input {
    color: #2a2a2a;
}

#newsletter-main input:focus {
    border-color: #ff8e3c !important;
    box-shadow: 0 0 0 3px rgb(255, 142, 60, 0.7) !important;
}

#newsletter-main a {
    color: #fffffe;
    background-color: #ff8e3c;
    border-color: #ff8e3c;
}

#newsletter-main a:hover {
    color: #fffffe !important;
    border-color: #0d0d0d;
}

#newsletter-main a:focus {
    color: #ffffff !important;
    border-color: #ff8e3c !important;
    box-shadow: 0 0 0 3px rgb(255, 142, 60, 0.7) !important;
}

/* ********************************* Features ********************************* */

#card-caracteristica-uno {
    color: #0d0d0d;
    background: #eff0f3 !important;
    border-color: #eff0f3;
}

#card-caracteristica-uno p {
    color: #2a2a2a;
}

#card-caracteristica-dos {
    color: #ffffff;
    background: #ff8e3c !important;
    border-color: #ff8e3c;
}

#card-caracteristica-dos p {
    color: #fffffe;
}

#card-caracteristica-tres {
    color: #0d0d0d;
    background: #eff0f3 !important;
    border-color: #eff0f3;
}

#card-caracteristica-tres p {
    color: #2a2a2a;
}

#card-caracteristica-cuatro {
    color: #ffffff;
    background: #ff8e3c !important;
    border-color: #ff8e3c;
}

#card-caracteristica-cuatro p {
    color: #fffffe;
}

.color-separador {
    background-color: #fffffe;
}

.btn-leer-mas-gris {
    color: #fffffe;
    background-color: #d9376e;
    border-color: #d9376e;
}

.btn-leer-mas-gris:hover {
    color: #fffffe !important;
    border-color: #eff0f3;
}

.btn-leer-mas-gris:focus {
    color: #ffffff !important;
    border-color: #d9376e !important;
    box-shadow: 0 0 0 3px rgb(217, 55, 110, 0.7) !important;
}

.btn-leer-mas-naranja {
    color: #fffffe;
    background-color: #d9376e;
    border-color: #d9376e;
}

.btn-leer-mas-naranja:hover {
    color: #fffffe !important;
    border-color: #ff8e3c;
}

.btn-leer-mas-naranja:focus {
    color: #ffffff !important;
    border-color: #d9376e !important;
    box-shadow: 0 0 0 3px rgb(217, 55, 110, 0.7) !important;
}

/* ********************************* About ********************************* */

#acerca-producto {
    background: #eff0f3 !important;
}

#acerca-producto h3 {
    color: #0d0d0d;
}

#acerca-producto p {
    color: #2a2a2a;
}

/* ********************************* Collapse ********************************* */

#titulo-principal h3 {
    color: #0d0d0d;
}

.color-text-collapse {
    color: #2a2a2a;
}

#headingOne {
    background-color: #eff0f3;
}

#headingOne button {
    text-decoration: none;
    color: #0d0d0d;
}

#headingOne button:hover {
    color: #2a2a2a;
    font-weight: bolder;
}

#headingTwo {
    background-color: #eff0f3;
}

#headingTwo button {
    text-decoration: none;
    color: #0d0d0d;
}

#headingTwo button:hover {
    color: #2a2a2a;
    font-weight: bolder;
}

#headingThree {
    background-color: #eff0f3;
}

#headingThree button {
    text-decoration: none;
    color: #0d0d0d;
}

#headingThree button:hover {
    color: #2a2a2a;
    font-weight: bolder;
}

#headingFour {
    background-color: #eff0f3;
}

#headingFour button {
    text-decoration: none;
    color: #0d0d0d;
}

#headingFour button:hover {
    color: #2a2a2a;
    font-weight: bolder;
}

/* ********************************* Team ********************************* */

#team {
    background-color: #ff8e3c;
}

.color-text-team {
    color: #fffffe;
}

.color-card-team {
    background-color: #fffffe;
}

.color-text-person {
    color: #0d0d0d;
}

.color-text-description {
    color: #2a2a2a;
}

.color-iconos-team {
    color: #d9376e;
}

/* ********************************* Contact ********************************* */

.color-titulo-contacto {
    color: #0d0d0d;
}

.color-descripcion-contacto {
    color: #2a2a2a;
}

.color-iconos-contacto {
    color: #d9376e;
}

#icono-input-nombre {
    background-color: #eff0f3;
}

#icono-input-email {
    background-color: #eff0f3;
}

#icono-input-mensaje {
    background-color: #eff0f3;
}

#formulario-contacto input {
    color: #2a2a2a;
}

#formulario-contacto input:focus {
    border-color: #ff8e3c !important;
    box-shadow: 0 0 0 3px rgb(255, 142, 60, 0.7) !important;    
}

#formulario-contacto textarea {
    color: #2a2a2a;
}

#formulario-contacto textarea:focus {
    border-color: #ff8e3c !important;
    box-shadow: 0 0 0 3px rgb(255, 142, 60, 0.7) !important; 
}

#formulario-contacto a {
    color: #fffffe;
    background-color: #ff8e3c;
    border-color: #ff8e3c;
}

#formulario-contacto a:hover {
    color: #fffffe !important;
    border-color: #fffffe;
}

#formulario-contacto a:focus {
    color: #ffffff !important;
    border-color: #ff8e3c !important;
    box-shadow: 0 0 0 3px rgb(255, 142, 60, 0.7) !important;
}

/* ********************************* Footer ********************************* */

#footer-main {
    background: #0d0d0d;
}

.separador-footer {
    width: 280px;
    background-color: #ff8e3c;
}

.titulo-company-footer {
    font-weight: 700 !important;
    color: #fffffe;
}

.footer-text-company {
    color: #fffffe;
}

.titulo-productos-footer {
    font-weight: 700 !important;
    color: #fffffe;
}

.estilo-btn-producto {
    color: #fffffe;
}

.estilo-btn-producto:hover {
    color: #ff8e3c;
    text-decoration: none;
    font-weight: 700;
    transition: 0.3s;
}

.titulo-contacto-footer {
    font-weight: 700 !important;
    color: #fffffe;
}

.estilo-text-contacto {
    color: #fffffe;
}

.estilo-btn-contacto {
    color: #fffffe;
}

.estilo-btn-contacto:hover {
    color: #ff8e3c;
    text-decoration: none;
    font-weight: 700;
    transition: 0.3s;
}

#fondo-row-autor {
    background-color: #2a2a2a;
}

.estilo-text-autor {
    color: #ff8e3c;
}

.estilo-text-autor:hover {
    color: #fffffe;
}

.btn-autor-footer:hover {
    text-decoration: none;
}