/* Menú de navegación */
.navbar {
    box-shadow: 0px 2px 5px #2e2e2e;
}

.navbar-dark .navbar-nav .nav-link {
    color: #ffffff;
}

/* Header */
.main-header {
    height: 100vh;
    min-height: 500px;
    background-image: url('../img/automotriz.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.background-overlay {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(83, 82, 237,0.7);
}

/* Team */
.team {
    background-color: #30336b;
}
